// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// ============================
// Quasar SCSS Variables
// ============================

$primary: #68402d;
$secondary: #b1562c;
$accent: #420e0e;

$dark: #1d1d1d;
$light: #e3d0af;
$dark-page: #121212;
$light-page: #eedbba;
$dark-card: #121212;
$light-card: #eedbba;

$positive: #21ba45;
$negative: #c10015;
$info: #70a36f;
$warning: #f2c037;

// ============================
// Theme Vars Map (for CSS vars)
// ============================

$theme-vars: (
  'primary': (
    light: $primary,
    dark: $primary,
  ),
  // same in both modes
  'secondary':
    (
      light: $secondary,
      dark: $secondary,
    ),
  'accent': (
    light: $accent,
    dark: $accent,
  ),

  'text-bg': (
    light: $light,
    dark: $dark,
  ),
  'page-bg': (
    light: $light-page,
    dark: $dark-page,
  ),
  'card-bg': (
    light: $light-card,
    dark: $dark-card,
  ),

  'positive': (
    light: $positive,
    dark: $positive,
  ),
  'negative': (
    light: $negative,
    dark: $negative,
  ),
  'info': (
    light: $info,
    dark: $info,
  ),
  'warning': (
    light: $warning,
    dark: $warning,
  ),
);

// ============================
// Generate CSS Variables
// ============================

.body--light {
  @each $name, $m in $theme-vars {
    --q-#{$name}: #{map-get($m, light)};
  }
}

.body--dark {
  @each $name, $m in $theme-vars {
    --q-#{$name}: #{map-get($m, dark)};
  }
}
