# Core framework
Flask>=2.0.0

# Database
Flask-SQLAlchemy>=3.0.0
PyMySQL>=1.0.0       # MySQL/MariaDB driver
psycopg[binary]>=3.1 # PostgreSQL driver
Flask-Migrate>=4.0.0 # Database migrations
hashlib>=0.0.0      # For hashing endpoints

# Authentication & Security
Flask-Login>=0.6.0
oauthlib>=3.2.0
cryptography>=41.0.0
flask-talisman>=1.0.0

# Serialization & Validation
marshmallow-sqlalchemy>=0.29.0
flask-marshmallow>=0.15.0
flask-smorest>=0.44.0

# Task Scheduling
Flask-APScheduler>=1.13.0

# Deployment
gunicorn>=20.1.0

# Notification
flask-mail>=0.10.0
pywebpush>=1.13.0

# Utilities
requests>=2.31.0


